@model WebsiteBanTraiCay05.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}

<div class="card-body login-card-body rounded">
    <h2 class="login-box-msg">Đăng nhập Admin</h2>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true);
        <label for="username">Tài khoản</label>
        <div class="input-group mb-3">
            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "Tài khoản" })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <label for="username">Mật khẩu</label>
        <div class="input-group mb-3">
            @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        <div>
            @Html.CheckBoxFor(x => x.RememberMe)
            <label for="remember">
                Nhớ mật khẩu
            </label>
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
        </div>
    }
    <p class="mb-1">
        <a href="#">Quên mật khẩu?</a>
    </p>
</div>

@*class="icheck-primary"*@