@model WebsiteBanTraiCay05.Models.EF.Product

@{
    ViewBag.Title = Model.SeoTitle;
    ViewBag.SeoDescription = Model.SeoDescription ?? Model.Title;
    ViewBag.SeoKeyWord = Model.SeoKeywords ?? Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model != null)
{
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Chi tiết sản phẩm</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="/san-pham">Sản phẩm</a></li>
            <li class="breadcrumb-item"><a href="/danh-muc-san-pham/@Model.ProductCategory.Alias-@Model.ProductCategoryId">@Model.ProductCategory.Title</a></li>
            <li class="breadcrumb-item active text-white">@Model.Title</li>
        </ol>
    </div>
    <!-- Single Page Header End -->
    <!-- Single Product Start -->
    <div class="container-fluid py-5 mt-5">
        <div class="container py-5">
            <div class="row g-4 mb-5">
                <div class="col-lg-12 col-xl-12">
                    <div class="row g-4">
                        <div class="col-lg-6">
                            @if (Model.ProductImage != null && Model.ProductImage.Any())
                            {
                                <div class="border rounded">
                                    <a href="#">
                                        <img src="@Model.ProductImage.FirstOrDefault(x=>x.IsDefault).Image" class="img-fluid rounded" alt="">
                                    </a>
                                </div>
                            }
                        </div>
                        <div class="col-lg-6">
                            <h4 class="fw-bold mb-3">@Model.Title</h4>
                            <p class="mb-3">Loại: @Model.ProductCategory.Title</p>
                            @if (Model.PriceSale > 0)
                            {
                                <h5 class="fw-bold mb-3">@WebsiteBanTraiCay05.Common.Common.FormatNumber(Model.PriceSale, 0)/kg</h5>
                            }
                            else
                            {
                                <h5 class="fw-bold mb-3">@WebsiteBanTraiCay05.Common.Common.FormatNumber(Model.Price, 0)/kg</h5>
                            }
                            <p class="mb-4">@Model.Description</p>
                            <p class="mb-4">Lượt xem: <b>@Model.ViewCount</b></p>
                            <div class="input-group quantity mb-5" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input id="quantityValue" type="text" class="form-control form-control-sm text-center border-0" value="1">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <a href="#" id="btnAddToCart" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary" data-id="@Model.Id"><i class="fa fa-shopping-bag me-2 text-primary"></i> Thêm vào giỏ</a>
                        </div>
                        <div class="col-lg-12">
                            <nav>
                                <div class="nav nav-tabs mb-3">
                                    <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                                            id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                                            aria-controls="nav-about" aria-selected="true">
                                        Chi tiết
                                    </button>
                                    <button class="nav-link border-white border-bottom-0" type="button" role="tab"
                                            id="nav-mission-tab" data-bs-toggle="tab" data-bs-target="#nav-mission"
                                            aria-controls="nav-mission" aria-selected="false">
                                        Đánh giá
                                    </button>
                                </div>
                            </nav>
                            <div class="tab-content mb-5">
                                <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                    @Html.Raw(Model.Detail)
                                    <div class="px-2">
                                        <div class="row g-4 mt-4">
                                            <div class="col-6">
                                                <div class="row bg-light align-items-center text-center justify-content-center py-2">
                                                    <div class="col-6">
                                                        <p class="mb-0">Cân nặng</p>
                                                    </div>
                                                    <div class="col-6">
                                                        <p class="mb-0">kg</p>
                                                    </div>
                                                </div>
                                                <div class="row text-center align-items-center justify-content-center py-2">
                                                    <div class="col-6">
                                                        <p class="mb-0">Nước sản xuất</p>
                                                    </div>
                                                    <div class="col-6">
                                                        <p class="mb-0">Agro Farm</p>
                                                    </div>
                                                </div>
                                                <div class="row bg-light text-center align-items-center justify-content-center py-2">
                                                    <div class="col-6">
                                                        <p class="mb-0">Chất lượng</p>
                                                    </div>
                                                    <div class="col-6">
                                                        <p class="mb-0">Hữu cơ</p>
                                                    </div>
                                                </div>
                                                <div class="row text-center align-items-center justify-content-center py-2">
                                                    <div class="col-6">
                                                        <p class="mb-0">Kiểm tra</p>
                                                    </div>
                                                    <div class="col-6">
                                                        <p class="mb-0">Tốt</p>
                                                    </div>
                                                </div>
                                                <div class="row bg-light text-center align-items-center justify-content-center py-2">
                                                    <div class="col-6">
                                                        <p class="mb-0">Số lượng</p>
                                                    </div>
                                                    <div class="col-6">
                                                        <p class="mb-0">@Model.Quantity</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                                    @Html.Action("_Load_Review", "Review", new { productId = Model.Id })
                                </div>
                            </div>
                        </div>
                        @Html.Action("_Review", "Review", new { productId = Model.Id })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Single Product End -->
}